body {
    font: Arial, Verdana, sans-serif;
    background-color: rgb(3, 3, 36);
    color:white;
    text-align: justify;
    font-size: 20px;
}

img {
    height: auto;
    width: 500px;
}

h1 {
    text-align: center;
}

.subtitle {
    font-weight: bold;
    font-size: 28px;
    color: yellowgreen;
}

.center {
    text-align: center;
}